html, body
  -webkit-overflow-scrolling: touch

body
	font-family: $font-family-base
	font-size: $default-font-size
	font-weight: $default-font-weight
	font-style: normal
	line-height: $default-line-height
	color: $default-text-color
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	-webkit-backface-visibility: hidden
	-webkit-tap-highlight-color: transparent
	::-moz-selection
		color: $color-primary
		background: transparent
	::selection
		color: $color-primary
		background: transparent
