#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap{
    background-color: #29255B;
}
#wpadminbar{
    background-color: #29255B;
}
#wpadminbar>#wp-toolbar>#wp-admin-bar-root-default #wp-admin-bar-wp-logo .ab-icon{
    width: 55px;
    height: 22px;
}
#wpadminbar>#wp-toolbar>#wp-admin-bar-root-default #wp-admin-bar-wp-logo .ab-icon:before{
    content: '';
    background-image: url(./logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 63px;
    height: 22px;
    background-position: center;
    display: inline-block;

}