.footer
	background: #EBEBE8
	&__main
		padding: 100px 0
		background: #EBEBE8
		+max-screen($breakpoint-lg)
			padding: 60px 0
		+max-screen($breakpoint-md)
			padding: 40px 0 0
		+max-screen($breakpoint-sm)
			padding: 14px 27.5px 0 0
		&__logo
			display: block
			width: 150px
			max-width: 100%
			img
				width: 100%
				height: auto
		
		&__text
			margin-top: 28px

		&__nav
			padding-top: 53px
			+max-screen($breakpoint-lg)
				padding-top: 40px
			+max-screen($breakpoint-md)
				padding-top: 20px
			+max-screen($breakpoint-sm)
				padding-top: 5px
			h4
				margin-bottom: 0
			ul
				width: 100%
				margin: -10px 0
				display: flex
				flex-direction: column
				+max-screen($breakpoint-md)	
					margin: 0
			li
				a
					transition: 0.3s ease-out
					display: inline-block
					font-size: 18px
					+min-screen($breakpoint-lg)
						font-size: 16px
					+max-screen($breakpoint-md)
						font-size: 12px
					+max-screen($breakpoint-sm)
						font-size: 9px
						&:hover
							color: $color-primary

		&__social
			&__list
				display: flex
				gap: 14px
				li
					a
						img
							width: auto
							height: 30px
							+max-screen($breakpoint-lg)
								height: 20px
							+max-screen($breakpoint-sm)
								height: 11px
		&__newsletter
			padding-top: 40px
			+max-screen($breakpoint-lg)
				padding-top: 40px
			+max-screen($breakpoint-md)
				padding-top: 20px
			+max-screen($breakpoint-sm)
				padding-top: 5px
			p
				padding-bottom: 40px !important
				+max-screen($breakpoint-md)
					padding-bottom: 20px !important
				+max-screen($breakpoint-sm)
					padding-bottom: 5px !important
			.nf-form-cont
				padding-bottom: 7px
				+max-screen($breakpoint-md)
					padding-bottom: 0
	&__menu__title
		margin-bottom: 5px
		text-transform: uppercase
		+min-screen($breakpoint-lg)
			font-size: 16px
		+max-screen($breakpoint-md)
			font-size: 12px
		+max-screen($breakpoint-sm)
			font-size: 9px
			a
				+min-screen($breakpoint-lg)
					font-size: 16px
				+max-screen($breakpoint-md)
					font-size: 12px
				+max-screen($breakpoint-sm)
					font-size: 9px
	&__bottom
		padding: 26px 0
		+max-screen($breakpoint-sm)
			padding: 0 0 13px
		&__wrapper
			text-align: center
		&__inner
			display: flex
			flex-direction: column
		&__copyright
			margin-top: 18px
			+min-screen($breakpoint-lg)
				font-size: 16px
			+max-screen($breakpoint-md)
				font-size: 12px
			+max-screen($breakpoint-sm)
				font-size: 9px


+max-screen($breakpoint-md)
	.footer__menu__title
		position: relative
		width: fit-content
		padding-right: calc(8.5px + 7.223px)
		&::before
			content: " "
			position: absolute
			width: 7.223px
			height: 3.707px
			
			background-image: url('../assets/images/dropdown_arrow.svg')
			background-size: cover
			background-position: center
			background-repeat: no-repeat

			top: 50%
			right: 0
			transform: translateY(-50%)
			transform-origin: center
			transition: 0.3s
			.footer-active &
				transform: rotate(-180deg) translateY(50%)
			
	.footer-nav
		+max-screen($breakpoint-md)
			display: none
			// max-height: 0px
			// overflow: hidden
			// transition: max-height 0.6s linear 0.3s
			// .footer-active &
			// 	max-height: 90px
			// 	transition: max-height 0.6s ease-out 0s