.footer
	background: #EBEBE8
	&__main
		padding-top: 100px
		padding-bottom: 100px
		background: #EBEBE8
		+max-screen($breakpoint-md)
			padding-top: 60px
			padding-bottom: 60px

		&__logo
			display: block
			width: 150px
			max-width: 100%
			img
				width: 100%
				height: auto
		
		&__text
			margin-top: 28px

		&__nav
			padding-top: 53px
			+max-screen($breakpoint-lg)	
				padding-top: 20px
			h4
				//padding-bottom: 17px
			ul
				width: 100%
				margin: -10px 0
				display: flex
				flex-direction: column
				+max-screen($breakpoint-md)	
					margin: 0
			li
				a
					transition: 0.3s ease-out
					display: inline-block
					font-size: 18px
					+min-screen($breakpoint-md)
						&:hover
							color: $color-primary
					+max-screen($breakpoint-md)
						font-size: 16px
		
		&__social
			padding-top: 50px
			+max-screen($breakpoint-md)
				padding-top: 20px
			&__list
				//display: flex
				//flex-direction: column
				
		&__newsletter
			+max-screen($breakpoint-lg)
				padding-top: 40px

			p
				padding-bottom: 50px
				+max-screen($breakpoint-lg)
					padding-bottom: 25px
	&__menu__title
		margin-bottom: 20px
		text-transform: uppercase
		font-weight: 400
		+max-screen($breakpoint-md)
			font-size: 16px
			a
				font-size: 16px
	&__bottom
		padding: 26px 0
		&__wrapper
			text-align: center
		&__inner
			display: flex
			flex-direction: column


+max-screen($breakpoint-md)
	.footer__menu__title
		position: relative
		width: fit-content
		padding-right: 30px
		&::before
			content: " "
			position: absolute
			width: 16px
			height: 16px
			
			background-image: url(../assets/images/icon-arrow-down.svg)
			background-size: contain
			background-position: center
			background-repeat: no-repeat

			top: 17%
			right: 0
			transition: 0.3s
			.footer-active &
				transform: rotate(-180deg)
			
	.footer-nav
		+max-screen($breakpoint-md)
			max-height: 0px
			overflow: hidden
			transition: max-height 0.6s linear 0.3s
			.footer-active &
				max-height: 90px
				transition: max-height 0.6s ease-out 0s