.stories
    &__image
        max-width: 100%
        height: 100%
        object-fit: cover
    &__item
        position: relative
        +max-screen($breakpoint-lg)
            margin-bottom: 30px
        &Heading
            position: absolute
            top: 25px
            left: 20px
            font-size: 14px
    