.stories
    padding-top: 250px
    +max-screen($breakpoint-lg)
        padding-top: 80px
    &__image
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: auto
        &Wrapper
            display: block
            position: relative
            padding-bottom: 154%
    &__item
        position: relative
        padding: 7.5px
        &Heading
            position: absolute
            top: 25px
            left: 20px
            font-size: 14px
        &Title
            +max-screen(545px)
                font-size: 7px
                line-height: 1.2
        &Date
            +max-screen(545px)
                font-size: 7px
                line-height: 1.2
    &__container
        max-width: 100%
    &__list
        margin-left: -7.5px
        margin-right: -7.5px
.single-stories 
    .stories__item
        &Title
            +max-screen($breakpoint-md)
                font-size: 14px
        &Date
            color: #919191
            +max-screen($breakpoint-md)
                font-size: 14px
                padding-bottom: 30px
    