.form
	.nf-field-container
		margin-bottom: 40px
		+max-screen($breakpoint-md)
			margin-bottom: 0
	#nf-field-14
		border: 1px solid #707070
		background: none
		font-family: $font-family-base
		&-wrap
			.nf-field-label
				display: block
				label
					font-weight: 400
					font-family: $font-family-base
	#nf-field-14-container
		+max-screen($breakpoint-md)
			margin-top: 20px		
	.nf-form-content .list-select-wrap .nf-field-element>div, .nf-form-content input:not([type=button])
		background: none
		font-family: $font-family-base
		padding: 20px
		border: none
		border-bottom: 1px solid #707070
		padding-left: 0
		color: #000
		+max-screen($breakpoint-md)
			font-size: 16px
		&::placeholder
			font-weight: 400
			color: #000
			+max-screen($breakpoint-md)
				font-size: 16px
	.nf-form-fields-required
		display: none
	.checkbox-container.label-right label
		font-family: $font-family-base
		font-weight: 400
		font-size: 14px
	.checkbox-wrap .nf-field-label label:after
		border-radius: 2px
		border: 1px solid #000
		background: #FFF
	.nf-error .nf-error-msg
		font-size: 12px
		position: absolute
		left: 0
		top: 0
	.nf-field-label

	.submit-wrap
		justify-content: center
		.nf-field-element
			width: fit-content
	.nf-error-msg, .ninja-forms-req-symbol
		display: none
	#nf-field-16
		background: #000
		padding: 20px 55px
		font-family: $font-family-base
		height: 100%
		border-radius: 0
		-webkit-appearance: none
	#nf-label-field-14
		.ninja-forms-req-symbol
			display: none
	#nf-label-field-13
		.ninja-forms-req-symbol
			display: none
	#nf-label-field-11
		.ninja-forms-req-symbol
			display: none
	&--request-demo 
		+max-screen($breakpoint-md)
			max-width: 80%
			margin: auto
	#nf-after-form-content
		position: absolute
		bottom: 20px
	.nf-error.field-wrap .nf-field-element:after
		display: none
	.nf-pass.field-wrap .nf-field-element:after
		display: none
	#nf-label-field-15
        .ninja-forms-req-symbol
            display: none
	.nf-response-msg
		text-align: center
.form--newsletter
	nf-fields-wrap
		flex-direction: column
		nf-field
			&:last-child
				position: absolute
				top: 5px
				right: 5px
	.nf-form-content
		position: relative
	.nf-form-content input[type=button]
		border: 0
		background: none
		position: relative
	.submit-container
		.nf-field-element
			&::after
				content: " "
				position: absolute
				width: 23px
				height: 21px
				background-image: url(../assets/images/send.svg)
				background-repeat: no-repeat
				top: 50%
				left: 0
				transform: translateY(-50%)
	#nf-label-field-9
		.ninja-forms-req-symbol
			display: none
	#nf-label-field-23
		.ninja-forms-req-symbol
			display: none
	.nf-error.field-wrap .nf-field-element:after
		right: -50px
		top: 2px
		+max-screen($breakpoint-md)
			right: 30px
	.nf-error-msg, .form .ninja-forms-req-symbol
		position: inherit
		left: inherit
		top: inherit
	.nf-error.field-wrap .nf-field-element:after
		display: none
	.nf-pass.field-wrap .nf-field-element:after
		display: none
	p
		font-size: 18px
	.checkbox-container.label-right label
		font-size: 18px
	

