.form
	.nf-field-container
		margin-bottom: 40px
	#nf-field-14
		border: 1px solid #707070
		background: none
		font-family: $font-family-base
		&-wrap
			.nf-field-label
				display: block
				label
					font-weight: 400
					font-family: $font-family-base
	.nf-form-content .list-select-wrap .nf-field-element>div, .nf-form-content input:not([type=button])
		background: none
		font-family: $font-family-base
		padding: 20px
		border: none
		border-bottom: 1px solid #707070
		padding-left: 0
		color: #000
		&:placeholder
			font-weight: 400
			color: #000
	.nf-form-fields-required
		display: none
	.checkbox-container.label-right label
		font-family: $font-family-base
		font-weight: 400
		font-size: 14px
	.checkbox-wrap .nf-field-label label:after
		border-radius: 2px
		border: 1px solid #000
		background: #FFF
	.nf-error .nf-error-msg
		font-size: 12px
	.nf-field-label
		display: none
	.submit-wrap
		justify-content: center
		.nf-field-element
			width: fit-content
	.nf-error-msg, .ninja-forms-req-symbol
		color: #707070 !important
.form--newsletter
	nf-fields-wrap
		flex-direction: column
		nf-field
			&:last-child
				position: absolute
				top: 5px
				right: 5px
	.nf-form-content
		position: relative
	.nf-form-content input[type=button]
		border: 0
		background: none
		position: relative
	.submit-container
		.nf-field-element
			&::after
				content: " "
				position: absolute
				width: 23px
				height: 21px
				background-image: url(../assets/images/send.svg)
				background-repeat: no-repeat
				top: 50%
				left: 0
				transform: translateY(-50%)
	p
		padding-bottom: 50px
