.woocommerce-cart .cart-empty.woocommerce-info
    display: none
body.empty-cart 
    padding-top: 78px
    header
        opacity: 0
        visibility: hidden
    .woocommerce-message
        margin-right: 52px
        a 
            font-size: 10px

.emptyCart
    padding-bottom: 64px
    &__container
        padding-left: 14px
        padding-right: 14px
    &__title 
        font-weight: 700
        margin-bottom: 11px
    &__subtitle 
        margin-bottom: 15px
    &__image 
        margin-left: 5px
        margin-right: 4px
        img 
            width: 100%
    &__button 
        margin-top: 28px
        margin-left: auto
        margin-right: auto
        display: block
        max-width: fit-content
    &__closeIcon 
        background-image: url('../assets/images/empty_cart_close.svg')
        background-size: contain
        background-repeat: no-repeat
        width: 16px 
        height: 16px 
        position: absolute
        top: 78px
        right: 18px 