.woocommerce-account
    .woocommerce-notices-wrapper
        margin-left: 14px
        margin-right: 14px
        ul 
            border-color: $color-black
            margin-bottom: 0
            &::before 
                color: $color-black
            * 
                color: $color-black
        * 
            font-size: inherit
    .woocommerce-message
        border-color: $color-black
        &::before 
            color: $color-black
        * 
            color: $color-black
.woocommerce-account,
.woocommerce-checkout
    .woocommerceAccountForm
        padding-top: 80px
        +max-screen(1440px)
            padding-top: 64px
        +max-screen(1200px)
            padding-top: 48px
        +max-screen($breakpoint-lg)
            margin-bottom: 36px
        +max-screen($breakpoint-md)
            padding-top: 13px
        &__title 
            font-weight: 700
            text-align: center
            margin-bottom: 53px
            line-height: 1.22
            +max-screen(1200px)
                margin-bottom: 42px
            +max-screen($breakpoint-lg)
                margin-bottom: 32px
            +max-screen($breakpoint-md)
                margin-bottom: 20px
                padding-left: 14px
                line-height: 1.5
                text-align: left
        &__text 
            text-align: center
            margin-bottom: 97px
            line-height: 1.5
            +max-screen(1440px)
                margin-bottom: 80px
            +max-screen(1200px)
                margin-bottom: 56px
            +max-screen($breakpoint-lg)
                margin-bottom: 42px
            +max-screen($breakpoint-md)
                padding-left: 20px
                max-width: 260px
                text-align: left
                margin-bottom: 0
                line-height: 1.8
        form 
            margin-top: 30px
            margin-bottom: 95px
            +max-screen(1440px)
                margin-bottom: 80px
            +max-screen(1200px)
                margin-bottom: 72px
            +max-screen($breakpoint-lg)
                margin-bottom: 64px
            +max-screen($breakpoint-md)
                margin-bottom: 40px
    &.woocommerce-page #main .woocommerce form .woocommerceAccountForm
        &__buttonSubmit 
            border-radius: 0
            width: fit-content
            margin-right: 0
            +max-screen($breakpoint-md)
                width: 100%
                padding-top: 10px 
                padding-bottom: 8px
    .woocommerce
        form.woocommerce-form
            padding: 0
            border: 0
            margin 0 
            +max-screen($breakpoint-md)
                padding-left: 20px
                padding-right: 20px
            .woocommerce-form-row 
                padding: 0
                padding-right: 33px
            .woocommerce-LostPassword 
                margin-top: 14px 
                line-height: 1
                +max-screen($breakpoint-md)
                    padding-right: 33px
            .woocommerce-form-login__rememberme 
                display: none
        .woocommerce-LostPassword
            text-align: right 
            margin-top: 5px
        .woocommerce-form-row 
            margin-bottom: 0
            &:nth-last-child(3)
                input 
                    margin-bottom: 0 !important
        .loginFormButtons
            width: fit-content 
            margin: auto
            padding: 0
            display: flex 
            flex-direction: column 
            justify-content: center
            margin-top: 95px
            +max-screen(1440px)
                margin-top: 72px
            +max-screen(1200px)
                margin-top: 56px
            +max-screen($breakpoint-lg)
                margin-top: 48px
            +max-screen($breakpoint-md)
                margin-top: 40px
                min-width: 133px 
        .registerAccountBtn
            width: 100%
            text-transform: none
            width: fit-content
            margin-top: 16px
            cursor: pointer
            +max-screen($breakpoint-md)
                margin-top: 6px
                padding: 10.5px 19.5px 
        div.button.loginFormButton
            margin-top: 16px
            text-transform: none
            cursor: pointer
            +max-screen($breakpoint-md)
                padding-left: 5px 
                padding-right: 5px
                margin-top: 6px
.woocommerceRegister
    visibility: hidden 
    height: 0 
    opacity: 0
.woocommerce.registerForm
    .woocommerceLogin
        visibility: hidden 
        height: 0 
        opacity: 0
        margin: 0
    .woocommerceRegister 
        visibility: visible
        opacity: 1
        height: auto
#main 
    .woocommerceRegister
        form.register 
            display: flex 
            margin-top: 15px
            flex-direction: column
            margin-bottom: 95px
            +max-screen($breakpoint-md)
                margin-bottom: 20px
            .form-row 
                input 
                    +max-screen($breakpoint-md)
                        margin-bottom: 15.3px
            .email
                order: -1  
            .registerFormButtons
                padding-right: 0
                display: flex 
                flex-direction: column 
                width: fit-content 
                margin: auto 
                margin-top: 105px 
                +max-screen($breakpoint-md)
                    margin-top: 35px

.woocommerce-account.woocommerce-page.woocommerce-lost-password .woocommerce form .button.woocommerce-Button
    border-radius: 0
.lostPasswordForm
    .container 
        max-width: 600px 
    &__wrapper
        form 
            .button-wrapper 
                padding-right: 0
                text-align: center
.lostPasswordRest
    &__text 
        p
            padding-bottom: 0
.lostPasswordConfirm
    padding-left: 15px
    padding-right: 15px
    padding-top: 30px
.woocommerceLogin 
    &__wrapper 
        .container 
            max-width: 660px
#main .woocommerce form.woocommerce-ResetPassword 
    p.woocommerce-form-row 
        width: 100%
    p.button-wrapper.form-row
        justify-content: center 
        margin-top: 42px
        +max-screen(1440px)
            margin-top: 36px
        +max-screen(1200px)
            margin-top: 24px
        +max-screen($breakpoint-lg)
            margin-top: 12px
        +max-screen($breakpoint-md)
            margin-top: 0
.ResetPassword
    padding-top: 80px
    +max-screen(1440px)
        padding-top: 64px
    +max-screen(1200px)
        padding-top: 48px
    +max-screen($breakpoint-lg)
        margin-bottom: 36px
    +max-screen($breakpoint-md)
        padding-top: 13px
    .container 
        max-width: 600px
    form 
        margin-bottom: 95px
        +max-screen(1440px)
            margin-bottom: 80px
        +max-screen(1200px)
            margin-bottom: 72px
        +max-screen($breakpoint-lg)
            margin-bottom: 64px
        +max-screen($breakpoint-md)
            margin-bottom: 40px
    .woocommerce-account &__title 
        +max-screen($breakpoint-md)
            margin-left: -6px
            padding-left: 0
.woocommerce-account.woocommerce-page #main .woocommerce .ResetPassword form .woocommerceAccountForm__buttonSubmit
    margin: auto 
    margin-top: 56px
    +max-screen(1440px)
        margin-top: 48px
    +max-screen(1200px)
        margin-top: 36px
    +max-screen($breakpoint-lg)
        margin-top: 24px
    +max-screen($breakpoint-md)
        margin-top: 0