.myAccount
    padding-top: 14px
    &__userName 
        text-align: center 
        font-weight: 700
        margin-bottom: 17px
    &__title 
        text-align: center
        margin-bottom: 5px
        line-height: 1.25
        text-transform: uppercase