body.woocommerce.woocommerce-page 
    .single_add_to_cart_button.button
        background-color: $color-black
        padding: 16px
        padding-bottom: 27px
        text-align: left
        border-radius: 0
        opacity: 1
        max-width: 112px
        position: static
        bottom: 0
        right: 0
        min-height: 110px
        &.absolute
            position: absolute
            bottom: auto
        .price 
            font-weight: 700
            padding-bottom: 10px
            line-height: 1.2
            p 
                padding-bottom: 0
        .label
            font-weight: 400
            line-height: 1.2
    .productAddTocart
        table,
        .quantity
            display: none
.single-product 
    .woocommerce-breadcrumb 
        display: flex 
        font-size: 13px
        color: $color-black
        margin-bottom: 10px
        padding-left: 12px
        padding-top: 15px 
        align-items: center
        a 
            font-size: 13px
            color: $color-black
            padding-right: 0.6em
            white-space: nowrap
            &::after 
                content: " / "
        & > a 
            display: none 
        & > a:first-of-type,
        & > a:last-of-type
            display: block 
.singleProduct
    margin-bottom: 31px
    &__attributesPicker
        max-width: calc(100vw - 112px)
        display: flex 
        flex-wrap: wrap
        margin-left: -12px
        padding-top: 24px
        &__item 
            min-width: 50%
            flex: 1
            &Title 
                padding-top: 14px
                padding-left: 12px
                padding-right: 40px
                width: 100%
                border-bottom: 1px solid #000
                position: relative
                min-height: 110px
                border-right: 1px solid $color-black
                position: relative
                &:nth-child(1),
                &:nth-child(2)
                    border-top: 1px solid $color-black
                &::before 
                    content: ""
                    position: absolute
                    right: 28px
                    top: 16px 
                    height: 13px 
                    width: 7px 
                    background-image: url('../assets/images/ibrogu-right-arrow.svg')
                    background-size: contain
                    background-repeat: no-repeat
                    background-position: center
            &Popup
                background: $color-bg-white
                z-index: -1 
                position: fixed 
                width: 100% 
                height: 100% 
                left: 0 
                top: 0 
                top: 100%
                transition: .3s 
                opacity: 0
                padding: 110px 16px 
                &__close 
                    position: absolute
                    right: 17px
                    top: 78px
                    background-image: url(../assets/images/closePopup.svg)
                    background-size: contain
                    background-position: 50%
                    background-repeat: no-repeat
                    width: 21px
                    height: 21px
                &__title 
                    position: relative
                    padding-bottom: 7px
                    margin-bottom: 10px
                    font-weight: 700
                    &::after 
                        content: ""
                        bottom: 0
                        width: calc( 100% + 32px )
                        left: -16px
                        height: 1px 
                        position: absolute
                        background-color: $color-black
                &.opened 
                    top: 0
                    z-index: 999999
                    opacity: 1
                &__list 
                    padding-left: 1px
                    padding-right: 24px
                    display: flex
                    margin-bottom: 12px
                    &Item 
                        width: 33%
                        border: 1px solid $color-black
                        font-size: 14px
                        line-height: 1
                        position: relative
                        margin-left: -1px
                        &.active 
                            background-color: $color-black 
                        &:nth-child(3n)
                            margin-left: 0
                        &::before 
                            content: ""
                            display: block 
                            padding-bottom: 100%
                        &__title 
                            position: absolute
                            left: 7px
                            bottom: 5px
                        &.active &__title 
                            color: $color-bg-white
                &__guide 
                    margin-bottom: 25px
                    &Label 
                        position: relative
                        display: inline-block
                        line-height: 1
                        padding-bottom: 3px
                        &::after 
                            content: ""
                            position: absolute
                            left: 0
                            bottom: 0
                            right: 0
                            height: 1px 
                            background-color: $color-black
                    &Popup 
                        position: absolute
                        top: 99px
                        left: 47px
                        right: 46px
                        background: #fff
                        transition: .3s 
                        z-index: 2
                        opacity: 0
                        transform: translateY(50px)
                        visibility: hidden
                        padding: 12px 
                        &__title 
                            font-weight: 700
                        table 
                            width: 100% 
                            margin-top: 24px
                            table-layout: fixed
                            td 
                                text-align: center
                            tr:nth-child(2n + 1)
                                background-color: rgba( 0, 0, 0, 0.3 )
                                color: #fff
                    &.openedPopup &Popup 
                        opacity: 1
                        visibility: visible
                        transform: none
                    &Bg 
                        position: absolute
                        left: 0
                        top: 0
                        width: 100% 
                        height: 100%
                        background-color: $color-black
                        transition: .3s 
                        z-index: 1
                        opacity: 0
                        visibility: hidden
                    &.openedPopup &Bg 
                        opacity: .36
                        visibility: visible
    &__imagesList
        border-bottom: 1px solid $color-black
        .slick-track div.slick-slide
            height: calc( 100vh - 223px)
        &__item 
            position: relative
            &.slick-slide
                img
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    height: 100% !important 
                    object-fit: cover 
                    object-position: center
            &::before
                content: ""
                padding-bottom: 153.5%
                display: block
        .slick-dots
            position: absolute
            left: 12px 
            top: 50% 
            transform: translateY(-50%)
            li 
                button 
                    display: block 
                    background-color: transparent 
                    border: 1px solid $color-bg-light
                    width: 9px 
                    height: 9px 
                    margin: 4px 0
                    font-size: 0
                &.slick-active 
                    button 
                        border-color: $color-black
                        background-color: $color-black
    &__button
        display: flex 
        &Cart 
            form .quantity,
            form .single_variation 
                display: none !important
            &.variable button.button.single_add_to_cart_button
                position: fixed 
        &LeftCol
            padding-top: 21px
            padding-left: 12px
            padding-right: 40px
            width: 100%
            max-width: calc( 100% - 112px )
            position: relative
            min-height: 110px
            .wishlistIcon 
                position: absolute
                top: 25px
                right: 26px 
                .yith-wcwl-add-to-wishlist 
                    margin-top: 0
                .yith-wcwl-add-button,
                .yith-wcwl-add-button *
                    font-size: 0
                    .yith-wcwl-icon
                        font-size: 12px
                        margin-right: 0
                .yith-wcwl-add-button a > *
                    display: none !important
                .yith-wcwl-add-button a > i 
                    display: block !important
    &__features 
        margin-bottom: 25px
        &Item 
            display: flex 
            align-items: center
            padding-left: 12px
            margin-bottom: 6px
            &:last-child
                margin-bottom: 0
            &__icon
                margin-right: 11px
                width: 17px
                height: 17px 
                img
                    width: 100% 
                    height: 100%
                    object-fit: contain
                    object-position: left center
    &__description 
        margin-top: 24px
        max-height: 3.5em
        overflow: hidden
        line-height: 1.75
        p 
            & + ul
                margin-top: -18px
        .attributesItem 
            display: flex 
            &__label 
                margin-right: 0.6em
        &__wrapper
            padding-left: 12px
            .showContent 
                margin-top: 6px
                margin-bottom: 24px
                .less 
                    display: none
            &.opened 
                .showContent
                    .more 
                        display: none
                    .less 
                        display: block 
.singleProduct__infoTab
    &s__list
    &__title 
        padding: 14px 32px 11px 12px 
        border-top: 1px solid $color-black
        position: relative
        &::after 
            content: ""
            width: 7px 
            height: 13px 
            position: absolute
            right: 14px 
            top: 13px 
            background-image: url('../assets/images/filterArrow.svg')
            background-size: contain
            background-repeat: no-repeat
            background-position: center
    &__wrapper
        &:last-child
            .singleProduct__infoTab__title
                border-bottom: 1px solid $color-black
    &__popup 
        position: fixed 
        top: 0
        right: 100%
        width: 100%
        height: 100%
        z-index: 999999
        background-color: $color-bg-white
        transition: .3s
        padding-top: 110px
        padding-left: 16px
        padding-right: 16px
        padding-bottom: 36px
        &.opened
            right: 0
        &Close 
            position: absolute
            right: 17px
            top: 78px 
            background-image: url('../assets/images/closePopup.svg')
            background-size: contain
            background-position: center
            background-repeat: no-repeat
            width: 21px
            height: 21px
        &Title 
            position: relative
            padding-bottom: 7.5px
            font-weight: 700
            &::after 
                content: ""
                position: absolute
                left: -16px
                right: -16px 
                bottom: 0
                height: 1px 
                background-color: $color-black            
        &Text 
            margin-top: 11px
            line-height: 1.8
        &Image 
            margin-left: -16px
            margin-right: -16px
            margin-top: 53px
.singleProductCard
    &sList
        display: flex 
        flex-wrap: wrap
        padding: 0 4px 
        margin-bottom: -17px
        justify-content: center
        &__title
            font-size: 15px
            text-transform: uppercase
            margin-bottom: 14px
        &__wrapper 
            padding-left: 12px
            padding-right: 36px
            margin-bottom: 41px
    &__wrapper 
        padding: 0 20px
        width: 50%
        margin-bottom: 17px
    &__title 
        text-align: center
    &__image 
        margin-bottom: 8px
        position: relative
        img
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            object-fit: cover
        .slick-slide & img 
            height: 100% !important
        &::before 
            content: ""
            padding-bottom: 150%
            display: block
    &__price 
        margin-top: 6px
        font-weight: 700
        text-align: center
        p
            padding-bottom: 0
            font-size: 1em
.relatedProducts 
    &__list 
        width: 51%
        margin: auto
    .slick-list 
        margin-bottom: -17px
    .slick-dots 
        display: flex 
        justify-content: center 
        margin-top: 8px
        li 
            button 
                border: 1px solid $color-bg-light
                font-size: 0
                width: 9px 
                height: 9px 
                display: block
                margin: 0 4px 
            &.slick-active
                button 
                    border-color: $color-black
                    background-color: $color-black
.single-product .woocommerce-notices-wrapper
    position: absolute
    z-index: 1
    .scroller
        position: absolute
        left: 14px 
        width: calc( 100% - 28px )
        top: 0
        height: 2px         
        background-color: $color-black
        z-index: 1
    .woocommerce-message 
        border: 0
