.hero-slider
    &__slide
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        &__img-2
            align-self: center
        &__img
            height: fit-content
            max-width: 100%
    &__slick--next
        display: flex
        justify-content: center
        padding-top: 15px
    &__slides
        .slick-prev
            display: none !important