.image-tiles
    &__item
        &__image
            max-width: 100%
            width: 100%
            object-fit: contain
            height: auto
    &__heading
            
.image-tiles—left,.image-tiles—right
    justify-content: space-around
.threeCols
    .image-tiles__item—1
        +max-screen($breakpoint-md)
            padding: 0
    .image-tiles__item—3
         +max-screen($breakpoint-md)
            display: flex
            align-self: flex-end
            justify-content: flex-end
            padding: 0
    .image-tiles__item—2
         +max-screen($breakpoint-md)
            padding-left: 5px
            padding-right: 5px
