.image-tiles
    &__item
        &__image
            max-width: 100%
            width: 100%
            object-fit: contain
    &__heading
        margin-bottom: 80px
            
.image-tiles—left,.image-tiles—right
    justify-content: space-around
    